<div class="container my-3">
<div class="jumbotron">
    <h1 class="display-4">About Work List</h1>
    <p class="lead">Welcome to To Do Work List</p>
    <p class="">This is a user-friendly task management app designed to simplify your daily workflow. Easily create, organize, and prioritize tasks to stay on top of your work and boost productivity.</p>
    <hr class="my-4">
    <p>Thank you for choosing this app to manage your tasks and boost your productivity!</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
</div>
